<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Dynamic Form</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/nice-forms.css') }}">
  <script src="{{ url_for('static', filename='js/validation.js') }}" defer></script>
  <script src="{{ url_for('static', filename='js/form.js') }}" defer></script>
</head>
<body>
  <div class="demo-page">
    <main class="demo-page-content">
      <section>
        <h1>Dynamic Form</h1>
        <form id="dynamic-form"></form>
        <div id="error-messages" style="color: red;"></div>
        <div id="result"></div>
      </section>
    </main>
  </div>
</body>
</html>
